.bg-cover {
    background: rgb(255, 255, 255) url('https://static.vecteezy.com/system/resources/previews/015/497/716/non_2x/blue-comic-background-retro-free-vector.jpg') no-repeat center center fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.main-bg {
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.4920167896260067) 0%, rgba(28, 28, 71, 0.7049019436876314) 63%, rgba(28, 26, 71, 0.6628851369649422) 100%);
}

/* 
.main-bg {
    background: linear-gradient(0deg, rgba(163, 17, 29, 0.492) 0%, rgba(59, 78, 104, 0.705) 63%, rgba(187, 52, 52, 0.663) 100%);
} */